
*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}main{
   background-image:url( "../public/miikka-luotio-i3WlrO7oAHA-unsplash.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}
.start-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 550px;
    border: 2px solid black;
    background-color: whitesmoke;
}
.start-section div{
    text-align: center;
    max-width: 300px;

}